html body {
  width: 100%;
  min-width: 480px;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #404040;
}

#content {
  background-color: #e5e5e5;
  margin: 0px auto;
  width: 60%;
  min-width: 480px;
  border-top: 3px solid #ffffff;
  padding-bottom: 30px;
}
#header {
  width: 100%;
  height: 100px;
  background-color: #404040;
}
#navi {
  position: relative;
  padding: 0;
  margin: 0px auto;
  width: 60%;
  min-width: 480px;
  height: 40px;
  background-color: #e5e5e5;
}

#footer {

}

#top {
  height: 60px;
  width: 60%;
  min-width: 480px;
  padding: 0;
  margin: 0 auto;
}
#logo {
  float: left;
  width: 135px;
  height: 60px;
}
#logo img {
  height: 40px;
  position: relative;
  top: 10px;
  left: 35px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#userarea {
  height: 60px;
  width: 200px;
  float: right;
}
.clear {
  clear: both;
}

#navi ul {
  list-style: none;
  height: 30px;
  padding: 10px 0px 0px;
  margin: 0;
  float: left;
}
#navi ul li {
  float: left;
  color: #404040;
  padding: 0px 10px;
}

li a, li a:hover, li a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
li a:hover {
  color: red;
}

.post {
  margin: 0 10px 10px 15px;
}
.post h2 {
  padding: 0 25px 0 35px;
}
.post h2 a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  color: #ff6900;
}
.post h2 a:hover {
  text-decoration: underline;
}
.post h5 {
  text-decoration: none;
  color: #404040;
  padding: 0 25px 0 60px;
  font-weight: normal;
  font-size: 12px;
}
.post h5 a {
  color: #ff6900;
  font-size: 14px;
  text-decoration: none;
}
.post p {
  width: 95%;
  text-indent: 25px;
}

